/* General */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  /* Variables */
  --header-logo-size: 30px;

  /* Colors */
  --text-secondary: #888;
}

/* Header + Footer */

.header, 
.footer {
  background: rgba(0, 0, 0, 0.30);
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  color: var(--text-secondary);
}

.header {
  top: 0;
  text-align: left;
  display: flex;
}

.headerText {
  margin-left: 20px;
  cursor: pointer;
}

.header-logo {
  cursor: pointer;
  width: var(--header-logo-size);
  height: var(--header-logo-size);
  border-radius: var(--header-logo-size);
}


.footer {
  bottom: 0;
  text-align: center;
}

