/* General */

#root {
  max-width: 1280px;
  margin: 0 auto;
  flex-grow: 1;

  /* Variables */
  --header-logo-size: 30px;

  /* Colors */
  --text-secondary: #888;
}

/* Header + Footer */

.header, 
.footer {
  left: 0;
  padding: 10px;
  align-items: center;
  color: var(--text-secondary);
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  background: rgba(0, 0, 0, 0.30);
}

.headerText {
  margin-left: 20px;
  cursor: pointer;
}

.header-logo {
  cursor: pointer;
  width: var(--header-logo-size);
  height: var(--header-logo-size);
  border-radius: var(--header-logo-size);
}

.footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.linkIcons {
  display: flex;
  gap: 10px;
}

  .linkIcons .icon {
    cursor: pointer;
    width: var(--header-logo-size);
    height: var(--header-logo-size);
  }
