/* General */

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
  flex-grow: 1;

  /* Variables */
  --header-logo-size: 30px;

  /* Colors */
  --text-primary: #fafafa;
  --text-secondary: #888;
  --highlight: #a940ff;
}

body {
  --grid-fill: #120f13;
  --grid-lines: #1c1a1d;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--grid-fill);
  background-image:
    repeating-linear-gradient(
      0deg,
      var(--grid-lines) 0px,
      var(--grid-lines) 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-lines) 0px,
      var(--grid-lines) 1px,
      transparent 1px,
      transparent 40px
    );
}
