
/* General  */

#root {
  /* Variables */
  --profile-image-size: 300px;
  --skill-image-max-size: 100px;
  --skill-card-max-height: 150px;
  --skill-card-max-width: 100px;
  --text-secondary: #888;
}

.content {
    margin-top: 50px; /* Offset from header */
    display: flex;
    flex-direction: column;
}

    .content > div {
        padding: 50px;
    }


.hoverGlow {
    will-change: filter;
    transition: filter 300ms ease-in-out;
}

    .hoverGlow:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
    }

.sectionTitleContainer {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.sectionTitle {
    font-size: 1.5em;
}

.sectionSubTitle {
    font-size: 0.8em;
    color: var(--text-secondary);
}

/* Section 1: Profile */

.name {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
  unicode-bidi: isolate; /* TODO: what does this do? */
}

.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nameTitleContainer {
    display: flex;
    flex-direction: column;
}

.profileImage {
    height: var(--profile-image-size);
    width: var(--profile-image-size);
    border-radius: calc(var(--profile-image-size) / 2);
}

/* Section 2: Skills */

.skillsContainer {
    background-color: rgb(0, 0, 0, 0.1);
}

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    place-items: center;
    row-gap: 50px;
}

.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    max-width: var(--skill-card-max-width);
    max-height: var(--skill-card-max-height);
}

.skillImage {
    max-width: var(--skill-image-max-size);
    max-height: var(--skill-image-max-size);
    cursor: pointer;
}

.skillLabel {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(249, 249, 249);
    border-radius: 5px;
}

/* Section 3: Projects */
/* TODO Projects section */

/* Section 4: Contact Me */
/* TODO Contact Me section (might be in separate component) */